.stage-base {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-background-color: #edf2ff;
}
.stage-base .card {
  -fx-background-color: #ffffff;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 6, 0, 0, 0);
  -fx-border-color: #e9ecef;
  -fx-border-width: 1;
  -fx-border-style: solid;
  -fx-border-radius: 5;
}
.stage-base .card .bar {
  -fx-background-color: #b197fc;
  -fx-background-radius: 0 0 5 5;
}
.stage-base .card .bar .label {
  -fx-text-fill: #ffffff;
}
.stage-base .tool {
  -fx-background-color: #ffffff;
  -fx-background-radius: 0 0 8 8;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 3);
}
.stage-base .tool .text-field {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-color: #b197fc;
  -fx-border-width: 0.5;
  -fx-border-style: solid;
  -fx-border-radius: 99;
}
.stage-base .tool .button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: #b197fc;
}
.stage-base .tool .button:hover {
  -fx-effect: dropshadow(three-pass-box, #b197fc, 12, 0, 0, 0);
}
.stage-base .rec-button {
  -fx-background-color: #ffffff;
  -fx-background-radius: 999;
  -fx-text-fill: #b197fc;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 6, 0, 0, 0);
}
.stage-base .rec-button:hover {
  -fx-effect: dropshadow(three-pass-box, #b197fc, 12, 0, 0, 0);
}
.stage-base .combo-box {
  -fx-background-color: #ffffff;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 6, 0, 0, 0);
}
.stage-base .combo-box .list-cell {
  -fx-text-fill: #b197fc;
}
.stage-base .combo-box .arrow {
  -fx-background-color: #b197fc;
}
.stage-base .combo-box .combo-box-popup .list-view .list-cell {
  -fx-text-fill: #b197fc;
  -fx-background-color: #ffffff;
}
.stage-base .combo-box .combo-box-popup .list-view .list-cell:selected {
  -fx-text-fill: #ffffff;
  -fx-background-color: #b197fc;
}
.stage-base .combo-box .combo-box-popup .list-view .list-cell:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #b197fc;
}
.stage-base .prop-sheets {
  -fx-background: #edf2ff;
}
.stage-base .prop-sheets .button {
  -fx-background-color: #b197fc;
  -fx-text-fill: #ffffff;
}
.stage-base .prop-sheets .button:hover {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 0);
}
.stage-base .prop-sheets .text-field {
  -fx-background-color: #ffffff;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 8, 0, 0, 0);
}
.stage-base .primary-button {
  -fx-background-color: #b197fc;
  -fx-text-fill: #ffffff;
}
.stage-base .primary-button:hover {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 0);
}
.stage-base .primary-field {
  -fx-background-color: #ffffff;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 8, 0, 0, 0);
}
.stage-base .slider .thumb {
  -fx-background-color: #b197fc;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 10, 0, 0, 0);
}
.stage-base .slider .track {
  -fx-background-color: #edf2ff;
  -fx-border-radius: 99;
  -fx-border-width: 0.4px;
  -fx-border-color: #b197fc;
}
.files-view {
  -fx-background-color: #edf2ff;
}
.files-view .toolBar {
  -fx-background-color: #ffffff;
  -fx-background-radius: 0 0 8 8;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 3);
}
.files-view .toolBar .button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: #b197fc;
}
.files-view .toolBar .button:hover {
  -fx-effect: dropshadow(three-pass-box, #b197fc, 12, 0, 0, 0);
}
.files-view .gridView .grid-cell {
  -fx-border-radius: 8;
  -fx-border-style: dashed;
  -fx-border-width: 1;
  -fx-border-color: #edf2ff;
}
.files-view .gridView .grid-cell .icon {
  -fx-text-fill: #b197fc;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 12, 0, 0, 0);
}
.files-view .gridView .grid-cell:hover {
  -fx-border-color: #b197fc;
}
.files-view .gridView .grid-cell .selected {
  -fx-background-radius: 8;
  -fx-background-color: #ffffff;
  -fx-text-fill: #b197fc;
  -fx-effect: dropshadow(three-pass-box, #b197fc, 12, 0, 0, 0);
}
